# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Unity_in_Action.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../:\Unity_in_Action\.idea\.idea.Unity_in_Action\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
